{:aliases {:repl {:extra-deps {io.github.justone/cljdev {:sha "b1956efcbafb5e1b5e0fc9bfb5715c25e9efae5e"}}
                  :exec-fn cljdev.repl/start}
           :clj {:extra-deps {;; Additional libs for clojure to match babashka includes
                              cheshire/cheshire {:mvn/version "5.10.0"}
                              org.clojure/tools.cli {:mvn/version "1.0.206"}
                              ;; This has to be here instead of as a transitive dependency of scribe is because there's no clojars release
                              io.github.babashka/tasks {:sha "d7085862774d0a8df9bc43e9aa969896741bc0e7"}
                              babashka/process {:mvn/version "0.4.16"}
                              babashka/babashka.pods {:mvn/version "0.2.0"}
                              babashka/fs {:mvn/version "0.2.15"}
                              ;; deps that are dynamically loaded in babashka
                              com.github.seancorfield/honeysql {:mvn/version "2.7.1310"}}
                 :extra-paths ["dev"]}
           :test {:extra-paths ["test"]
                  :extra-deps {com.cognitect/test-runner {:git/url "https://github.com/cognitect-labs/test-runner.git"
                                                          :sha "209b64504cb3bd3b99ecfec7937b358a879f55c1"}
                               ;; Additional testing libs for clojure to match babashka's superpowers
                               babashka/process {:mvn/version "0.4.16"}
                               babashka/fs {:mvn/version "0.2.15"}}
                  :main-opts ["-m" "cognitect.test-runner"]}}
 :paths ["src"]
 ;; Keep these in sync with bb.edn
 :deps {comb/comb {:mvn/version "0.1.1"}
        doric/doric {:mvn/version "0.9.0"}
        org.endot/scribe {:mvn/version "1.0.0"}}}
